<h1>Concepts</h1>

<table class="table table-striped">
  <tr>
    <td class="text-center">
      <%= link_to new_project_concept_path, title: "Create" do %>
        <div class="btn btn-default">
          <span class="glyphicon glyphicon-plus"></span> Create
      </div><% end %>
    </td>
  </tr>

  <% @concepts.each do |concept| %>
    <tr>
      <td>
        <%= render partial: "concept",
          locals: {
            concept: concept,
            controls: true
          }
        %>
      </td>
    </tr>
  <% end %>

</table>
