<h1>Concepts</h1>

<table class="table table-striped">
  <% if !@user_role.position.eql? "Viewer" %>
  <tr>
    <td class="text-center">
      <%= link_to new_project_concept_path, title: "Create" do %>
        <div class="btn btn-default">
          <span class="glyphicon glyphicon-plus"></span> Create
      </div><% end %>
    </td>
  </tr>
  <% end %>

  <% @concepts.each do |concept| %>
    <tr>
      <td>
        <%= render partial: "concept",
          locals: {
            concept: concept,
            controls: true
          }
        %>
      </td>
    </tr>
  <% end %>

</table>

<div class="col-xs-12 text-center">

  <% if @previous_page %>
    <%= link_to project_concepts_path(page: @previous_page), title: "Previous" do %>
      <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Previous
    </div><% end %>
  <% end %>

  <% if @next_page %>
    <%= link_to project_concepts_path(page: @next_page), title: "Next" do %>
      <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span> Next
    </div><% end %>
  <% end %>

</div>
