<h1>About</h1>

<h3>Background</h3>
<p>SAGE was developed during Jacob Foley's PhD candidature at the University of New England.</p>

<h3>Attributions</h3>
<p>The icons used in this web application are unmodified, and were created by <a href="https://www.iconfinder.com/Vecteezy">Vecteezy</a> and <a href="https://icons8.com/">icons8</a>, and have been made available under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a> licence.</p>

<h3>Feedback</h3>
<p>We'd love to hear more about your experience with using SAGE. If you have a moment and would like to contribute your opinion on SAGE to this research project, please fill out <a href="https://docs.google.com/forms/d/136eUUCx7Fucl1VSKLg-ILsnYK-JoBdZ3dejZzo-O9ug/viewform" target="_blank"> this survey</a>.</p>

<h3>Contact</h3>
<p>You can also contact me via my email address, <a href="mailto:jacob.j.foley@gmail.com">jacob.j.foley@gmail.com</a>.</p>
