<% provide :title, " | Agreement" %>
<div class="container">
  <div class="jumbotron">
	  <h1 class="text-center">Information Sheet For Participants</h1>
  </div>

  <p>I wish to invite you to participate in my research project, described below.</p>

  <p>My name is Jacob Foley and I am conducting this research as part of my PdD in the School of Science and Technology at the University of New England. My supervisors are Dr. Paul Kwan and Dr. Mitchell Welch.</p>

  <h1>Research Project</h1>

  <p>Semantic Annotation of Digital Objects by Multiagent Computing: Applications in Digital Cultural Heritage</p>

  <h1>Aim of the research</h1>

  <p>The research aims to explore a novel computer algorithm for finding links between separate pieces of knowledge. This is being applied to a set of digital heritage photographs from the Saumarez collection. Participants will contribute any knowledge or observations they have on these photographs in the form of written notes submitted through a simple web application available from any internet-connected computer with a web browser.</p>

  <h1>Confidentiality</h1>

  <p>Any information or personal details gathered in the course of the study will remain confidential. No individual will be identified by name in any publication of the results. All names will be replaced by pseudonyms; this will ensure that you are not identifiable.</p>

  <h1>Participation is Voluntary</h1>

  <p>Please understand that your involvement in this study is voluntary and I respect your right to withdraw from the study at any time. You do not need to provide any explanation if you decide not to participate or withdraw.</p>

  <h1>Use of information</h1>

  <p>I will use information from the database as part of my doctoral thesis, which I expect to complete in November 2015.  Information from the database may also be used in journal articles and conference presentations before and after this date.  At all time, I will safeguard your identity by presenting the information in way that will not allow you to be identified.</p>

  <h1>Upsetting issues</h1>

  <p>It is unlikely that this research will raise any personal or upsetting issues, but if it does you may wish to contact the local 24-hr Mental Health Line on 1800 011 511.</p>

  <h1>Storage of information</h1>

  <p>I will keep hard copy recordings and notes of the interview in a locked cabinet at the researcher’s office at the University of New England’s School of Science and Technology Any electronic data will be kept on a password protected computer in the same School. Only the research team will have access to the data.</p>

  <h1>Disposal of information</h1>

  <p>All the data collected in this research will be kept for a minimum of five years after successful submission of my thesis, after which it will be disposed of by deleting relevant computer files, and destroying or shredding hard copy materials.</p>

  <h1>Approval</h1>

  <p>This project has been approved by the Human Research Ethics Committee of the University of New England (Approval No HE14-238, Valid to 1/9/2015).</p>

  <h1>Contact details</h1>

  <p>Feel free to contact me with any questions about this research by email at jfoley4@une.edu.au.</p>

  <p>You may also contact my supervisors. My principal supervisor’s name is Dr. Paul Kwan and he can be contacted at paul.kwan@une.edu.au, and my co-supervisors name is Dr. Mitchell Welch and can be contacted at mwelch8@une.edu.au.</p>

  <h1>Complaints</h1>
  <p>Should you have any complaints concerning the manner in which this research is conducted, please contact the Research Ethics Officer at:</p>

  <pre>
    Research Services
    University of New England
    Armidale, NSW  2351
    Tel: (02) 6773 3449  Fax: (02) 6773 3543
    Email: ethics@une.edu.au </pre>

  <p>Thank you for considering this request and I look forward to further contact with you.</p>

  <p>Regards,</p>

  <p>Jacob Foley</p>

</div>
