<% provide :title, " | Feedback" %>
<div class="container">

  <div class="jumbotron">
	  <h1 class="text-center">Feedback</h1>
	</div>

  <p>If you have any feedback on the application, you can contact me via:</p>
  <p>Jacob Foley --- <a href="mailto:jacob.j.foley@gmail.com">jacob.j.foley@gmail.com</a></p>
</div>
