<% provide :title, " | About" %>
<div class="container">

  <div class="jumbotron">
	  <h1 class="text-center">About the Project</h1>
	  <p>Information on the development of SAGE and the surrounding research project, "Semantic Annotation of Digital Objects by Multiagent Computing: Applications in Digital Cultural Heritage."</p>
	</div>
	
  <p>SAGE (Semantic Annotation by Group Exploration) is a project that allows a group to collaboratively annotate a collection of digital objects. It uses technologies that extrapolate probable relationships between digital objects for information retrieval.<p>
  <p>SAGE is being developed as part of the ongoing PhD candidature of Jacob Foley, a student at the University of New England, in collaboration with Bill Oates of the UNE Heritage Centre. SAGE is an implementation of cutting-edge research, as well as a tool for acquiring feedback on the effectiveness of newly-developed techniques.</p>
  <p>By using this web application, you grant permission for anonymous usage statistics to be collected and used as feedback to the development of this application, and as data to be used in academic publications. By contributing these anonymous statistics, you are assisting with the refinement of this application as well as furthering research in the field. The collection of information will begin in the third prototype. Thank you for your contribution to my research.</p>
  <p> SAGE has been developed using a number of web technologies. These include HTML5, CSS3, JavaScript, ERB, SASS, CoffeeScript, Ruby, Bootstrap, JQuery, Ruby on Rails and PostgreSQL, all running on a Fedora Linux Apache server. Thanks to Paul Kwan (supervisor), Bill Oates (project associate) and Norman Gaywood (server administrator) for their help with this project.</p>
  
</div>
