<% provide :title, " | Feedback" %>
<div class="container">

  <div class="jumbotron">
	  <h1 class="text-center">Feedback</h1>
	</div>

  <p>We'd love to hear more about your experience with using SAGE.
    If you have a moment and would like to contribute your opinion on SAGE to this
    research project, please fill out
    <a href="https://docs.google.com/forms/d/136eUUCx7Fucl1VSKLg-ILsnYK-JoBdZ3dejZzo-O9ug/viewform">
    this survey</a>.
  </p>
  <p>You can also contact me via Jacob Foley ---
    <a href="mailto:jacob.j.foley@gmail.com">jacob.j.foley@gmail.com</a></p>
</div>
