<% provide :title, " | Instructions" %>
<div class="container">
  
  <div class="jumbotron">
	  <h1 class="text-center">Instructions</h1>
	  <p>A quick tutorial on the features present in the first prototype of SAGE, covering all the basics as well as known quirks.</p>
  </div>
  
  <h1>Introduction</h1>
  <p>SAGE relies on two different types of information, Objects and Concepts. While using the application, you will often find yourself exploring the relationships between them. While doing so, you are encouraged to create new concepts and link concepts to objects to expand and improve the network of relationships.</p> 
  </p>When you first enter the Application page, you will be presented with the objects overview. Navigation can be performed using the sidebar to the left to move between the object and concept overviews. This can be done at any time.</p>
  
  <h1>Objects</h1>
  
  <p>Pressing the create button on the objects overview page allows you to create a new object. You will be prompted to add the object's URL, which is typically of the form http://www.example.com/myimage.jpg. When finished, press the "Done" button to submit it to the database. SAGE allows you to add any type of digital object, from spreadsheets to web pages, audio files and video files. The only requirement is that they all must have a valid URL.</p>
  
  <p class="alert alert-warning"><strong>Known Issue:</strong> Adding an invalid or incomplete URL (e.g. "myimage.jpg" without the "http://www.example.com/images" part, or "abc", which isn't an URL at all) can result in the output of diagnostic error messages as the prototype is still being run in development mode. Press "Back" in your browser and then revisit the address to clear it. This will be fixed shortly after establishing that the application is working on Turing.</p>
  
  <p class="alert alert-info"><strong>Caution:</strong> Ensure that the URL you submit is publicly accessible. Services like Dropbox allow you to get public links to your files. If you encounter issues with broken links in SAGE, check that you are using public links, and that the link leads directly to the file.</p>
  
  <h1>Concepts</h1>
  
  <p>Pressing the create button on the concept overview page allows you to create a new concept. You will be asked to describe the concept you wish to capture, and press the "Done" button when you are finished. This concept can be any detail you observe or infer from the object. Using a photo as an example, these details could include the location, notable objects or people in the photo, or the event during which it was taken.</p>

  <h1>Interaction</h1>
  <p> When viewing an object, you will see a thumbnail and filename, together which represent the object. Similarly, when viewing a concept, you will see the concept description as its representation. You will also see for both objects and concepts a set of controls and three sections, "Associations", "Suggestions", and "Others".</p>
  
  <p>The Associations section shows the concepts/objects that have been associated with the current object/concept. Suggestions shows items that are likely to relate to the current item and are good candidates to be promoted to the Associations section, while the Others section shows items that have not been detected to be relevant. You are encouraged to interact with these sections as you view objects and concepts. The quality of suggestions will improve in the second and third prototypes as more similarity detection algorithms are implemented.</p>
  
  <p>Both the objects/concepts overviews and the individal object's/concept's view give you the option to edit the item or delete it. Simply use the relevant buttons to perform these actions.</p>
  
  <p> Specific to objects, clicking the thumbnail in the object view allows the original object to be loaded in your browser. This can also be done by clicking the link button on the object overview page.</p>
  
  <h1>Feedback</h1>
  <p>If you feel content is missing from the instructions section, or if some information could be worded more clearly, please don't hesitate to contact me at jfoley4@une.edu.au and I will make those changes.</p>
</div>
