<div class="container">
  <div class="jumbotron">
	  <h1 class="text-center">Information Sheet For Participants</h3>
  </div>

  <p>I wish to invite you to participate in my research project, described below.</p>

  <p>My name is Jacob Foley and I am conducting this research as part of my PhD in the School of Science and Technology at the University of New England. My supervisors are Dr. Paul Kwan and Dr. Mitchell Welch.</p>

  <h3>Research Project</h3>

  <p>Semantic Annotation of Digital Objects by Multiagent Computing: Applications in Digital Cultural Heritage</p>

  <h3>Aim of the Research</h3>

  <p>
    This research explores the application of a novel computer algorithm for finding links between a collection of photographs and information known about the collection.
  </p>
  <p>
    Participants are asked to contribute their observations on images from a collection of photographs. The algorithm attempts to determine likely associations between photographs and existing information using these observations. The detected associations are suggested to the user, who can confirm they are correct to annotate new information to those photographs. Annotations and associations are managed in a web application (SAGE: "Semantic Annotation by Group Exploration") available on any internet-connected computer.
  </p>
  <p>
    This research is being applied as a case study to a collection of digital heritage photographs from the UNE Heritage Centre, as well as on open image collections intended for research in Content-Based Image Retrieval.
  </p>

  <h3>Image Tagging</h3>

  <p>
    I would like to conduct an application usage experiment with you at the UNE Booth Block Microcomputer Laboratories. With your permission, you will be trained in using the SAGE web application and then asked to use this application to annotate observations to photographs (similar to tagging photos on an application like Flickr). These annotations will be retained as data for this project. The experiment will take approximately one hour, but may take longer if you wish to voluntarily contribute additional annotations to the project.
  </p>

  <h3>Confidentiality</h3>

  <p>
    Any information or personal details gathered in the course of the study will remain confidential. No individual will be identified by name in any publication of the results. All names will be replaced by pseudonyms; this will ensure that you are not identifiable.
  </p>

  <h3>Voluntary Participation</h3>

  <p>
    Please understand that your involvement in this study is voluntary and I respect your right to withdraw from the study at any time. You may discontinue the experiment at any time without consequence and you do not need to provide any explanation if you decide not to participate or withdraw at any time.
  </p>

  <h3>Use of Information</h3>

  <p>
    I will use information from the database as part of my doctoral thesis, which I expect to complete in February 2016. Information from the database may also be used in journal articles and conference presentations before and after this date. The identity of participants will be protected in these publications by withholding all identifying information.
  </p>

  <h3>Upsetting Issues</h3>

  <p>
    It is unlikely that this research will raise any personal or upsetting issues, but if it does you may wish to contact the local Community Health Centre on 1800 011 511, or call Lifeline on 13 11 14.
  </p>

  <h3>Storage of Information</h3>

  <p>
    I will keep any hard copy recordings or notes in a locked cabinet in my (the researcher’s) office in the University of New England’s School of Science and Technology. Electronic data will be kept on a password protected computer, and migrated to a password-protected computer located in the School for long term storage at the conclusion of my candidacy. Only the research team will have access to the data.
  </p>

  <h3>Disposal of Information</h3>

  <p>
    All the data collected in this research will be kept for a minimum of five years after successful submission of my thesis, after which it will be disposed of by deleting relevant computer files, and destroying any hard copy materials.
  </p>

  <h3>Approval</h3>

  <p>
    This project has been approved by the Human Research Ethics Committee of the University of New England (Approval No HE14-238, Valid to 1/3/2016).
  </p>

  <h3>Contact Details</h3>

  <p>
    Feel free to contact me with any questions about this research by email at jfoley4@une.edu.au.
  </p>

  <p>
    You may also contact my supervisors. My principal supervisor’s name is Dr. Paul Kwan and he can be contacted at paul.kwan@une.edu.au, and my co-supervisors name is Dr. Mitchell Welch and can be contacted at mwelch8@une.edu.au.
  </p>

  <h3>Complaints</h3>
  <p>
    Should you have any complaints concerning the manner in which this research is conducted, please contact the Research Ethics Officer at:
  </p>

  <pre>
    Research Services
    University of New England
    Armidale, NSW  2351
    Tel: (02) 6773 3449  Fax: (02) 6773 3543
    Email: ethics@une.edu.au</pre>

  <p>Thank you for considering this request and I look forward to further contact with you.</p>

  <p>Regards,</p>

  <p>Jacob Foley</p>

</div>
