<h1>Tester Information </h1>
<p>The following information is super duper top secret information for the testers who are evaluating SAGE. </p>
<h3>Practice Collections</h3>
<p>These are actual research projects being run by the UNE Heritage Centre, who are interested in crowdsourcing annotations before the experts look over them. We'll be using these as our practice collections. Your participation is welcome!</p>
<p>Redeem the key <strong>PSXZ8qF-k5NMVQrv7zYEcw</strong> to be granted access to the Nickson AIF Collection, a World War I album.</p>
<h3>Tester Survey </h3>
<p>Please fill out <a href="https://docs.google.com/forms/d/1WuxK3Ix2ViPIXC-bHqH4aesjtQYF8Q6vtFuUW1Vjj5U/viewform" target="_blank">this survey</a> once you've learned how to use SAGE and have had a chance to test it out on one of the practice collections. </p>
<h3>Sample Key </h3>
<p>You can repeatedly redeem the key <strong>Tzcjfr-2K59ycGxHykyHew</strong> to be allocated a collection of images from the Saumarez Heritage Collection to annotate for science. The more samples you can complete, the better. An even number of samples is preferable for analysis.</p>
<h3>Thanks Again!</h3>
<p>Thank you once again for taking part in this project. In return for your help, if you think that SAGE might be of use to you, you are more than welcome to use it for your own personal projects.</p>
