<% provide :title, " | Welcome" %>
<div class="container">
  <div class="jumbotron">
	  <h1 class="text-center">Welcome to SAGE!</h1>
  </div>
  <p> SAGE is currently in limited release. Your feedback is extremely valuable, don't hesitate to contact me with your impressions or ideas!</p>
  <p> Things to try: </p>
  <ul>
    <li>Create a <%= link_to new_user_path do %> new user <% end %> account.</li>
    <li>Make a new project, or redeem the following key for a shared test collection:</li>
    <ul><li>BGDcL7Abd78Utx7EZzqp6Q==</li></ul>
    <li>Add a group of objects to your project.</li>
    <li>Start adding and associating concepts.</li>
    <li>See what concepts are detected as significant!</li>
  </ul>
  <p></p>
  <p>If you would like to become more familiar with SAGE, take a look at the <%= link_to guides_path do %>guides<% end %> page.</p>
  <p>If you have feedback, ideas, suggestions, or have found a bug, contact me via the details on the <%= link_to feedback_path do %>feedback<% end %> page.</p>
</div>
