<% provide :title, " | Welcome" %>
<div class="container">
  <div class="jumbotron">
	  <h1 class="text-center">Welcome to SAGE!</h1>
  </div>
  <p> SAGE ("Semantic Annotation by Group Exploration") is currently in beta release. Experimentation is ongoing, and a number of community projects have commenced.</p>
  <p> Things to try: </p>
  <ul>
    <li>Create a <%= link_to new_user_path do %>new user<% end %> account.</li>
    <li>Make a new project</li>
    <li>Add a group of objects to your project.</li>
    <li>Start adding and associating concepts.</li>
    <li>Expand your objects or concepts to include new material.</li>
    <li>See what SAGE gives you as suggestions as it begins to learn more about your data.</li>
    <li>Invite friends with similar interests to collaborate on your project!</li>
  </ul>
  <p></p>
  <p>If you would like to become more familiar with SAGE, take a look at the <%= link_to "https://github.com/Thaumajig/sage/wiki" do %>guides<% end %> page.</p>
  <p>If you have feedback, ideas, suggestions, or have found a bug, contact me via the details on the <%= link_to feedback_path do %>feedback<% end %> page.</p>
</div>
