<% provide :title, " | Welcome" %>
<div class="container">
  <div class="jumbotron">
	  <h1 class="text-center">Welcome to SAGE</h1>
	  <p>A web application that allows the connections between digital objects and semantic concepts to be uncovered and explored collaboratively by a group of users.</p>
  </div>
  <p>SAGE is currently in the first prototype phase. Features planned for this phase include:</p>
  <ul>
    <li>A web-based user interface.</li>
    <li>Creation, editing and deletion of digital objects.</li>
    <li>Creation, editing and deletion of concepts.</li>
    <li>Retrieval of digital objects and concepts, and navigation between them.</li>
    <li>Partially completed similarity measure for suggestions.</li>
  </ul>
  <p>This should allow for demonstrative use of the application. Future prototypes are planned to include support and management technologies, support for multiple users and multiple projects, importing and exporting, and collaboration technologies.</p>
  <p>If you are unfamiliar with SAGE, please give the <%= link_to guides_path do %>guides<% end %> page a quick read.</p>
  <p>Development on the second prototype is set to commence in <span style="font-weight: bold;"> Early February, 2014</span>. If you have any feedback or find any bugs in the current version, please send an email to jfoley4@une.edu.au. Thank you for your assistance in evaluating this program!</p>
</div>
