<div class="container">

  <div class="text-center panel panel-default">
    <h1><strong>SAGE: Semantic Annotation by Group Exploration</strong></h1>
    <h3>Discover and explore the hidden relationships in a collection of resources.</h3>

    <%= image_tag "splash.png", class: "img-responsive" %>
  </div>

  <p>Using the semantic network formed by annotations contributed by you and your team, SAGE helps find and collect relevant material in your large or complex data set made up of any web-accessible resource, including websites, photographs, and text snippets. SAGE is free to use for personal or research projects. To begin, create a <%= link_to new_user_path do %>new user<% end %> account.</p>
</div>
