<h1>Objects</h1>

<div class="col-sm-3 col-xs-6 text-center well" style="display: table; height: 180px">
  <%= link_to new_project_digital_object_path, title: "Create", style: "display: table-cell; vertical-align: middle" do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
</div>

<% @digital_objects.each do |digital_object| %>
  <div class="col-sm-3 col-xs-6" style="height: 220px">
    <%= render partial: "object",
      locals: {
        object: digital_object,
        size: '150px',
        controls: true,
        fixed: true
      }
    %>
  </div>
<% end %>

<div class="col-xs-12 text-center">

  <% if @previous_page %>
    <%= link_to project_digital_objects_path(page: @previous_page), title: "Previous" do %>
      <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Previous
    </div><% end %>
  <% end %>

  <% if @next_page %>
    <%= link_to project_digital_objects_path(page: @next_page), title: "Next" do %>
      <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span> Next
    </div><% end %>
  <% end %>

</div>
