<ul class="nav nav-stacked nav-pills rounded" id="navbar">
  <li><%= link_to "Project Notes", project_path(@project) %></li>
  <li><%= link_to "Objects", project_digital_objects_path(@project) %></li>
  <li><%= link_to "Concepts", project_concepts_path(@project) %></li>
  <li><%= link_to "Analytics", analytics_project_path(@project) %></li>
</ul>
